/*/////////////////////////////////////////////////
//
// Developer: Raphael Novaes
// Mail: rafaoliver@uol.com.br
//
/////////////////////////////////////////////////*/

.invalid {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.tip {
	display: none;
	margin-left: 5px;
	font-size: 9px;
	color: #FF0000;
}